* {
    box-sizing: border-box;
    font-family: Sedgwick Ave;
    --pastel-green: #C1E1C1;
    --dark: black;
    --text-color: Gold;
    --simplistic: white;
}

body {
    margin: 0;
}

html {
    overflow-y: scroll;
}

#navbar {
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    position: sticky;
    top: 0;


}

.nav-links {
    color: var(--simplistic);
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    border: 2px solid var(--simplistic);
    padding: 3px 8px;
    margin: 10px;
    border-radius: 10px;
}

.nav-links:hover {
    background-color: var(--simplistic);
    color: var(--dark);
    cursor: pointer;
    border: 2px solid var(--dark);
    padding: 10px;
}

#user-page {
    width: 100%;
    height: 90vh;
    position: relative;

}

.user {
    display: inline-block;
    width: 300px;
    height: 40px;
    border: 1px solid var(--dark);
    margin: 10px;
    padding: 40px;
    border-radius: 10px;
    left: 20px;
    position: relative;
}

.user:hover {
    background-color: var(--pastel-green);
    color: var(--dark);

}

.user-profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: -18px;
    top: -18px;
    display: flex;
    align-self: center;
}

.username {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -68px;
    font-size: 18px;
    font-weight: bold;

}

#add-user {
    width: 100px;
    height: 90px;
    display: inline-block;
    border: 1px solid var(--dark);
    border-radius: 10px;
    position: relative;
    top: -67px;
    left: 20px;
    background-color: var(--dark);
    color: var(--simplistic);
    font-size: 30px;
}

#add-user:hover {
    background-color: var(--pastel-green);
    color: var(--simplistic);
}
